body {
  margin: 0;
  display: block; /* Alterado de flex para block */
  min-width: 320px;
  min-height: 100vh;
}

.container {
  font-family: 'Inter', sans-serif;
  color: #333;
}
/* Reset básico */
* { box-sizing: border-box; }
body { margin: 0; }